<script src="/js/vendor/jquery-3.5.1.min.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/js/vendor/modernizr-3.11.2.min.js"></script>

<!--Plugins JS-->
<script src="/js/plugins/swiper-bundle.min.js"></script>
<script src="/js/plugins/countdownTimer.min.js"></script>
<script src="/js/plugins/scrollup.js"></script>
<script src="/js/plugins/jquery.zoom.min.js"></script>
<script src="/js/plugins/slick.min.js"></script>
<script src="/js/plugins/infiniteslidev2.js"></script>
<script src="/js/vendor/jquery.magnific-popup.min.js"></script>
<script src="/js/plugins/jquery.sticky-sidebar.js"></script>
<!-- Google translate Js -->
<script src="/js/vendor/google-translate.js"></script>
<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
  }
</script>
<!-- Main Js -->
<script src="/js/vendor/index.js"></script>
<script src="/js/main.js"></script>

</body>

<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-html/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jan 2023 23:48:46 GMT -->

</html>
<script>


  $("#checkout-form").submit((e) => {
    console.log("working sumbition");
    e.preventDefault()
    $.ajax({
      url: '/place-order',
      method: 'post',
      data: $('#checkout-form').serialize(),
      success: (response) => {
        if (response.status) {
          setTimeout(() => {
            window.location.href = '/ordersuccess'
            console.log(response)
          }, 1000)

        } else if (response.walletBalance) {
          Swal.fire({
            icon: "error",
            title: "Insaficent Balance In Your Wallet",
            text: " Please add money to your wallet.",
          });
        } else {
          razorpayPayment(response)
          console.log(rsponse, "response from razor pay");
        }
      }
    })
  })
</script>


<script>
  function applyCoupon(code) {
    console.log(code);
    console.log("Applying coupon...");

    $.ajax({
      url: "/coupon-apply",
      data: {
        code: code,
      },
      method: "post",
      success: function (response) {
        console.log("Coupon applied response:", response);
        if (response.datefailed) {
          console.log("Coupon expired.");
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Coupon expired.",
          });
        } else if (response.minimum) {
          console.log("Purchase amount does not meet the minimum requirement for the coupon.");
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Purchase amount does not meet the minimum requirement for the coupon.",
          });
        } else if (response.used) {
          console.log("Coupon already used.");
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Coupon already used.",
          });
        } else if (response.invalid) {
          console.log("Coupon invalid.");
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Entered invalid Coupon .",
          });
        } else if (response.limit) {
          console.log("Coupon limit exceeded.");
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Coupon limit exceeded.",
          });
        } else if (response.amountokey) {
          console.log("Coupon granted.");
          document.getElementById('code').value = response.code
          document.getElementById('discount').innerHTML = response.discountValue
          document.getElementById('discount1').value = response.discountValue
          document.getElementById('total').innerHTML = response.value
          document.getElementById('total1').value = response.value
          Swal.fire({
            position: "center",
            icon: "success",
            title: "Coupon granted!",
            text: "You have successfully applied the coupon.",
            showConfirmButton: true,
          });
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.error("Error applying coupon:", errorThrown);
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Something went wrong. Please try again later.",
        });
      },
    });
  }
</script>


<script>
  function razorpayPayment(order) {
    console.log("in razor");
    var options = {
      "key": "rzp_test_f3ZH5uMQCpo9jx", // Enter the Key ID generated from the Dashboard
      "amount": order.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "Assim Fayas", //your business name
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
      "prefill": {
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      },
      "handler": function (response) {
        console.log(response);
        console.log(order.order);
        verifyPayment(response, order.order);
      }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open()
  }
</script>

<script>
  function verifyPayment(payment, order) {
    console.log("from verifyPayment");
    $.ajax({
      url: '/verify-payment',
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response) => {
        console.log(response);
        if (response.status) {
          window.location.href = '/ordersuccess'
        } else {
          Swal.fire({
            position: 'center',
            icon: 'error',
            title: 'Payment failed',
            showConfirmButton: false,
            timer: 2000
          })
          // alert('Your Product Deleted from Cart')
          // setTimeout(() => {
          //     location.reload()
          // }, 1200);
          // window.location.href = '/ordersuccess'
        }
      }
    })
  }
</script>