<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-html/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jan 2023 23:48:35 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Ekka - Ecommerce HTML Template.</title>
    <meta name="keywords"
        content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
    <meta name="description" content="Best ecommerce html template for single and multi vendor store.">
    <meta name="author" content="ashishmaraviya">

    <!-- site Favicon -->
    <link rel="icon" href="/images/favicon/favicon.png" sizes="32x32" />
    <link rel="apple-touch-icon" href="/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="/images/favicon/favicon.png" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="/css/vendor/ecicons.min.css" />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="/css/plugins/animate.css" />
    <link rel="stylesheet" href="/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/plugins/countdownTimer.css" />
    <link rel="stylesheet" href="/css/plugins/slick.min.css" />
    <link rel="stylesheet" href="/css/plugins/nouislider.css" />
    <link rel="stylesheet" href="/css/plugins/bootstrap.css" />

    <!-- Main Style -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />

    <!-- Background css -->
    <link rel="stylesheet" id="bg-switcher-css" href="/css/backgrounds/bg-4.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body class="checkout_page">