<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- for login and register -->
    <link rel='stylesheet' href="/css/style1.css" />


    <!-- for login Otp -->
    <link rel="stylesheet" href="/css/loginOtp.css">



    <!-- for 404 -->
    <link rel="stylesheet" href="/css/style404.css">

    <title>Form Validator</title>

</head>

<body>