<%- include('../layouts/logheader.ejs') %>



    <body>
        <div class="container">
            <div class="column1">
                <form action="" method="post" id="form" class="form">
                    <h2> reset Password </h2>

                    <div class="form-control">
                        <label for='Password'>Password
                            <input type="Password" id="Password" placeholder="Enter New Password" name="Password" required minlength="6" maxlength="15">
                            <input type="hidden" name="user_id" value="<%= user_id %>">
                            <small>Error message</small></label>
                    </div>


                    <button type="submit">Reset</button>

                </form>








            </div>
            <div class="column2">

                <img src="https://i.ibb.co/k5NNz4F/pablo-sign-up.png" alt="pablo-sign-up" border="0"
                    class='signup-image'>
            </div>

        </div>



        <%- include('../layouts/logfoot.ejs') %>