<%- include('../layouts/logheader.ejs') %>



    <body>
        <div class="container">
            <div class="column1">
                <form action="/loginOtp" method="post" id="form" class="form">
                    <h2> Login </h2>

                    <% if(typeof message !=='undefined' ){ %>

                        <p style="color: rgb(79, 128, 0)">
                            <%= message %>
                        </p>

                        <% } %>
                            <div class="form-control">
                                <label for='mobile'>Mobile
                                    <input type="mobile" id="mobile" placeholder="Enter Your Mobile Number" value="+91" name="mno">

                                    <small>Error message</small></label>
                            </div>


                            <button type="submit">Send Otp</button><br><br>
                            <br>
                            <a href="/forgot">Forgot Password</a> &NonBreakingSpace; &NonBreakingSpace;
                            <br><br>


                            Are You New User ? Please <a href="/register">Register</a>

                </form>




            </div>
            <div class="column2">

                <img src="https://i.ibb.co/k5NNz4F/pablo-sign-up.png" alt="pablo-sign-up" border="0"
                    class='signup-image'>
            </div>

        </div>

        <%- include('../layouts/logfoot.ejs') %>