<%- include('../layouts/logheader.ejs') %>

    <body>
        <div class="container">
            <div class="column1">
                <form action="/register" method="post" id="form" class="form">
                    <h2>Register with us</h2>

                    <% if(typeof message !=='undefined' ){ %>

                        <p style="color: rgb(79, 128, 0)">
                            <%= message %>
                        </p>

                        <% } %>






                            <div class="form-control">
                                <label for='username'>Username
                                    <input type="text" id="username" placeholder="Enter username" name="username"
                                        required>
                                    <small>Error message</small></label>
                            </div>
                            <div class="form-control">
                                <label for='email'>Email
                                    <input type="text" id="email" placeholder="Enter email" name="email" required>
                                    <small>Error message</small></label>
                            </div>
                            <div class="form-control">
                                <label for='mobile'>mobile
                                    <input type="mobile" id="mobile" placeholder="Enter mobile number" value="+91"
                                        name="mobile" minlength="13" maxlength="13" required>
                                    <small>Error message</small></label>
                            </div>
                            <div class="form-control">
                                <label for='password'>Password
                                    <input type="password" id="password" placeholder="Enter password" name="password"
                                        minlength="6" maxlength="15" required>
                                    <small>Error message</small></label>
                            </div>
                            <!-- <div class="form-control">
                                <label for='password2'>Confirm Password
                                    <input type="password" id="password2" placeholder="Enter password again ">
                                    <small>Error message</small></label>
                            </div> -->
                            <button type="submit">Submit</button><br> <br>
                            Already Registered ? Please <a href="/">Login</a>
                </form>





            </div>
            <div class="column2">

                <img src="https://i.ibb.co/k5NNz4F/pablo-sign-up.png" alt="pablo-sign-up" border="0"
                    class='signup-image'>
            </div>

        </div>
        <%- include('../layouts/logfoot.ejs') %>